.header form .input-container {
    display: flex;
    flex-wrap: wrap;
}


.logo {
    padding-bottom: 30%;
    margin-left: 10%;
    margin-top: 5%;
}

.motto {
    padding-bottom: 30%;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}

.cats-store {
    margin-left: 4%;
}

.gallery a {
    padding-bottom: 10%;
    margin-right: 4%;
    margin-left: 4%;
}

.about {
    margin-bottom: 30%;
}

.about-header {
    text-align: center;
}

.about-content {
    margin-left: 5%;
    margin-right: 5%;
}

 form {
     text-align: center;
     justify-content: space-around;
 }

.phone-number {
    flex-basis: 100%;
}


input {
    width: 90%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border: 1px solid black;
}

textarea {
    width: 100%;
    min-height: 80%;
    border: 1px solid black;
}


